<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Online Store</title>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="/css/adminproducts.css">
</head>
<body>

<header>
    <h1>Online Store</h1>
</header>

<nav>
    <a href="/shop">Shop</a>
    <a href="/products">Products</a>
    <a href="/cart">Cart</a>
    <a href="/orders">Orders</a>
    <a href="/addProduct" id="addProductLink">Add Product</a>
    <a href="/adminProducts">Admin Products</a>
</nav>

<div class="card" id="card">
    <!-- <h2>Title of the Product</h2>
    <img src="/images/p1.jpg" alt="Product Image">
    <p>$50</p>
    <p>Description of the product goes here.</p>
    <a href="#" class="btn">Details</a>
    <a href="#" class="btn">Add to Cart</a> -->
  </div>
  <script src="/js/adminproducts.js"></script>
</body>
</html>
