<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/shop.css">
</head>

<body>

    <header>
        <h1>Online Store</h1>
    </header>

    <nav>
        <a href="/shop">Shop</a>
        <a href="/cart">Cart</a>
        <a href="/orders">Orders</a>
        <a href="/addProduct" id="addProductLink">Add Product</a>
        <a href="/adminProducts">Admin Products</a>
    </nav>

    <div class="card-container" id="card-container">

    </div>

    <script src="/js/shop.js"></script>
</body>

</html>